.text-input
{
    -fx-text-fill : #F7B189;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}
.combo-box{
    -fx-text-fill : #F3F2F1;
    -fx-font-size: 14px;
    -fx-alignment: center;
}
.list
{
    -fx-text-fill : #F3F2F1;
    -fx-font-size: 14px;
    -fx-alignment: center;
}

.toggle-button:selected
{
    -webkit-fx-base: lightblue;
    -moz-fx-base: lightblue;
    -ms-fx-base: lightblue;
    -o-fx-base: lightblue;
    -khtml-fx-base: lightblue;
    fx-base: lightblue;
}

.radio-color
{
    -fx-mark-highlight-color : #9643A9;
    -fx-mark-color :  #F3851E;
}

.progress-bar > .bar{
    -fx-padding: 0.10em;
    -fx-background-insets: 1 1 2 1;
    -fx-background-radius: 2;
}